.feishudocx-warningblock {
  margin: 32px 0 16px 0;
  border-left: 8px solid #e7c000;;
  background-color: rgba(255,229,100,.3);
  padding: 16px;
  color: #6b5900;
  .feishudocx-warningblock-title {
    margin-bottom: 16px;
    line-height: 1.7;
    color: #b29400;
    font-weight: 600;
    font-size: 16px;
  }
}