.feishudocx-table {
  table {
    tr {
      &:nth-child(2) {
        border-top: 1px solid rgb(222, 224, 227);
      }
      td {
        padding: 8px;
        border-right: 1px solid rgb(222, 224, 227);
        border-bottom: 1px solid rgb(222, 224, 227);
        &:first-child {
          border-left: 1px solid rgb(222, 224, 227);
        }
      }
    }
  }
}